# Listas de telefonos
telefonos.*
config_ignorados.*

# Configuracion
config.php
config_ldap.php

# Archivos de proyectos y varios
.buildpath
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
test*
